:root {
  --ff-primary: "Mukta","Montserrat", serif;
  --ff-secondary: "Mukta","Merriweather", sans-serif;

  --fw-reg: 100;
  --fw-bold: 500;
  --fw-black: 1000;

  --clr-white: #ffffff;
  --clr-primary: #a90000;
  --clr-secondary: #0c6291;
  --clr-accent: #00afb9;
  --clr-dark: #111111;
  --clr-light: #dae5e9;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-body: 0.9rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

h1,
h2,
h3,
h4,
strong {
  font-family: var(--ff-secondary);
}

hr {
  background-color: var(--clr-secondary) !important;
}

body {
  background: var(--clr-white);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.2;
  font-family: Mukta, sans-serif;
	font-size: 1.6rem;
}

p{
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cus-p-0{
    padding:0px  !important;
}

.btn {
	font-size: .875rem;
	font-family: Mukta, sans-serif;
	padding: .625rem 1.25rem;
	outline: none
}

.modal {
	font-size:16px !important;
}

.modal-content .modal-body {
  padding: 0px !important;
}


/* NAVBAR */

.navbar{
  padding:0px !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-link {
    font-size: 1.2rem;
}

.header-small .navbar.fixed-top {
    top: -50px !important;
    margin-top: 50px  !important;
    transition: margin-top 2s ease  !important;
}

.navbar .navbar-menu-wrapper .navbar-nav .btn-notification {
  margin-left: 148px;
  white-space: nowrap;
}

.navbar .navbar-menu-wrapper .navbar-nav .btn-sign {
  margin-left: 10px;
  white-space: nowrap;
}



.notification-button{
  padding: 0px 15px;
}

.notification-count{
  position: absolute;
  top: -10px;
  right: 13px;
  text-align: center;
  font-size: 23px;
  padding: 2px 3px;
  line-height: .9;
  background-color: #a90000;
  color: white;
}
.notification-icon{
  padding-right: 15px;
}
.notification-date{
  padding-left: 30px;
}


@media (max-width: 992px){
  .btn-notification {
    margin-left: 0px !important;
  }
  }

.menu{
  padding-left: 5px;
}
.dropdown-toggle, .dropdown-toggle::after {
  content: none !important;
}
.dropdown-item{
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  overflow-x: auto;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #212529;
	text-decoration: none;
	background-color: transparent;
  
}

.dropdown-menu.show {
  display: block;
  position: absolute;
    top: 33px;
    right: -99px;
    max-width: 350px;
    min-width: 350px;
}

.table {
  font-size: 14px !important;
}


/** **/
.cus-info-parent {
    top: -30px;
    position: relative;
}

.cus-how {
    background-color: #dae5e9;
    color: #0c6291;
    -webkit-box-shadow: 0 10px 0 -6px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0 10px 0 -6px rgba(0,0,0,.3);
    box-shadow: 0 10px 0 -6px rgb(0 0 0 / 30%);
}

.cus-search {
    background-color: #0c6291;
    color: #FFFFFF;
}




.cus-border-bottom {
  border-bottom: 1px solid var(--clr-secondary) !important;
}

.cus-banner {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  margin-bottom: 0rem !important;
  padding-bottom: 0rem !important;
}

.cus-banner p {
  padding: 10px 15px 0px;
  font-weight: var(--fw-black) !important;
}

.cus-hero {
  background-image: url(../../images/hero.png);
  border-radius: 0rem !important;
  padding-bottom: 9rem !important;
}

.cus-hero-title {
  font-size: var(--fs-h1);
  color: var(--clr-primary);
  font-weight: var(--fw-black) !important;
}

.cus-btn-hero {
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

.cus-how strong {
  font-size: var(--fs-h3);
}


.cus-dropdown {
  padding: 5px 0px;
}

.cus-process-main {
  position: relative;
  top: -82px;
  margin: 0px;
}

.cus-process {
  padding: 15px 5px 5px;
  /* border: 1px solid var(--clr-light); */
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

.cus-process img {
  min-height: 64px;
  min-width: 64px;
}
.cus-process strong {
  color: var(--clr-primary);
}

.cus-icon {
  padding: 22px !important;
  border: 0px;
  max-width: 60%
}

.cus-logo {
  padding: 0px !important;
  border: 0px !important;
  
}

.cus-hor-border {
  border-left: 2px solid var(--clr-secondary);
}

.cus-request {
  background-color: var(--clr-secondary);
  color: var(--clr-white);
}

.cus-feedback {
  background-color: var(--clr-light);
  color: var(--clr-secondary);
  margin-left: 0px;
  margin-right: 0px;
  
}

.cus-feedback h3 {
  border-bottom: 0px !important;
}

.cus-footer {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 20px;
}

.filter {
  padding: 3px;
}

.modal.show {
  z-index:999999999!important;
}

@media (max-width: 575px) {
.modal-content {
    width: 100%;
}
}



/*SUPPORTING PARTNERS */
